anaconda-client==1.7.2
anaconda-project==0.8.2
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==3.0.3
notebook==5.7.8
numexpr==2.6.9
numpy==1.17.0
stop-words==2018.7.23
tensorboard==2.0.0
tensorboardX==1.9
tensorflow==2.0.1
tensorflow-estimator==2.0.0

